version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "3000:3000"
    volumes:
      - ./:/usr/src/app
      - /usr/src/app/node_modules
      - /usr/src/app/.next
    env_file:
      - .env.docker
    networks:
      - hr-network

  playwright:
    image: mcr.microsoft.com/playwright:v1.57.0-jammy
    container_name: playwright
    working_dir: /usr/src/app
    volumes:
      - ./:/usr/src/app
    env_file:
      - .env.docker
    environment:
      BASE_URL: http://localhost:3000
    networks:
      - hr-network
    depends_on:
      - frontend
    command: ["npx", "playwright", "test", "--reporter=list"]

networks:
  hr-network:
    external: true